#name: Spring Boot CI/CD Pipeline
#
## thực hiện build và test khi có sự kiện push hoặc pull request vào nhánh main
#on:
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]
#
#jobs:
#
#  # JOB 1: Build + Test bằng Maven
#  build-test:
#    runs-on: ubuntu-latest   # Dùng máy ảo Ubuntu mới nhất
#
#    steps:
#      # 1. Lấy source code về runner
#      - name: Checkout source
#        uses: actions/checkout@v4
#
#      # 2. Cài đặt JDK 17 để build
#      - name: Set up JDK 17
#        uses: actions/setup-java@v4
#        with:
#          distribution: 'temurin'
#          java-version: 17
#
#      # 3. Build bằng Maven (tạo file .jar)
#      # Lưu ý: Project nằm trong thư mục con springboot-cicd-demo
#      - name: Build with Maven
#        working-directory: ./springboot-cicd-demo
#        run: mvn -B package --file pom.xml
#
#      # 4. Chạy Unit Tests
#      - name: Run Unit Tests
#        working-directory: ./springboot-cicd-demo
#        run: mvn test
#
#  # JOB 2: Build Docker + Push lên DockerHub
#  # Chạy sau khi job build-test hoàn thành
#  docker-build-and-push:
#    runs-on: ubuntu-latest
#    needs: build-test   # Bắt buộc job test phải chạy xong
#
#    steps:
#      # 1. Lấy lại source code
#      - name: Checkout source
#        uses: actions/checkout@v4
#
#      # 2. Đăng nhập Docker Hub bằng tài khoản (đang dùng hardcode)
#      - name: Login to DockerHub
#        uses: docker/login-action@v3
#        with:
#          username: "23a4040118"
#          password: "Phuong12pl"
#
#      # 3. Build Docker image từ Dockerfile
#      - name: Build Docker image
#        working-directory: ./springboot-cicd-demo
#        run: docker build -t 23a4040118/springboot-cicd-demo:latest .
#
#      # 4. Push image lên DockerHub
#      - name: Push Docker image
#        working-directory: ./springboot-cicd-demo
#        run: docker push 23a4040118/springboot-cicd-demo:latest