name: Spring Boot CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build with Maven
        working-directory: ./springboot-cicd-demo
        run: mvn -B package --file pom.xml

      - name: Run Unit Tests
        working-directory: ./springboot-cicd-demo
        run: mvn test

  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: "23a4040118"
          password: "Phuong12pl"

      - name: Build Docker image
        run: docker build -t 23a4040118/springboot-cicd-demo:latest .

      - name: Push Docker image
        run: docker push 23a4040118/springboot-cicd-demo:latest
